$secondary-color: #141a33;
$primary-color:#F48023;
$White:#ffffff;
$White-one:#fcfcfc;

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 57px;
    background-color: $primary-color;
    height: auto;
    a.active{
        background: $secondary-color;
    }
    a{
        font-weight: 300;
        font-size: 15px;
        border-radius: 0px;
        color: $White;
    }
    a.ant-btn{
        &:hover{
            color: $White;
            background: $secondary-color;
        }
    }
    img{
        width: 150px;
    }
    .img-profile{
        width: 50px;
    }
}
.active-button{
    border-radius: 0px !important;
    padding: 2px 5px !important;
    background: $secondary-color;
}
@media only screen and (max-width:768px) {
    .main-header{
        .nav-links{
            display: none;
        }
    }
    
}