<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-row class="imgDiv">
                <div nz-col nzSpan="24">
                    <h1 style="margin-left: 100px">Login</h1>
                </div>
            </div>
           <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="PLease insert your email.">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="username" placeholder="Email" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-control nzErrorTip="PLease insert your password.">
                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input formControlName="password" placeholder="Password" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" >
                    Log In
                </button>Or <a routerLink="/register">Register now!</a>
           </form> 
        </div>
    </div>

</div>